@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
    --physical: Salmon;
    --mental: Green;
    --spiritual: DeepSkyBlue;
  }

  .boons> :first-child {
    color: black;
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --bg: white;
    --text: black;
    --physical: LightSalmon;
    --mental: LightGreen;
    --spiritual: LightSkyBlue;
  }
}

@media (max-width: 870px) {
  #attributes {
    grid-template-columns: repeat(7, 1fr);
  }

  #pools {
    grid-column: 1/8;
    grid-row: 8/8;
    flex-direction: row !important;
  }

  #pools-title {
    display: none !important;
  }
}

@media (min-width: 870px) {
  #attributes {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  }

  #pools {
    grid-column: 8/9;
    grid-row: 2/8;
  }
}

:root {
  font-family: Arial, sans-serif;
  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--text);
  print-color-adjust: exact;
}

.hidden-button {
  all: unset;
}

.hidden-button:focus {
  color: AccentColor;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-none {
  flex: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid;
  margin: .25rem auto;
  min-width: 25px;
  min-height: 25px;
  align-content: center;
  background-color: var(--bg);
}

.text-box {
  border: 1px solid;
  margin: 2px auto 2px auto;
  padding: 2px;
  width: min-content;
  max-width: 8vw;
  overflow: hidden;
  background-color: var(--bg);
}

.specialization-box {
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
  width: 100%;
  min-width: 70px;
  border-collapse: collapse;
  flex-grow: 1;
  background-color: var(--bg);
}

td {
  border: 1px solid;
  vertical-align: middle;
  overflow: hidden;
}

tr>:last-child {
  width: 25px;
}

.boon-subcategories {
  border-top: 1px solid;
  min-height: 10rem;
  padding: 0 2px;
  display: grid;
  justify-content: space-between;
  justify-items: start;
}

#attributes {
  display: grid;
  grid-auto-rows: max-content;
  text-align: center;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

#attributes>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#injuries {
  border: 1px solid;
  padding-left: 5px;
  list-style-position: inside;
  text-align: left;
  margin: 0;
}

#pools {
  text-align: center;
  margin: 0 1rem;
}

input {
  display: block;
}

#editor-inputs textarea {
  min-width: 25vw;
}

.boons {
  border: 1px solid;
  margin: .25rem;
}

#lore {
  white-space: wrap;
}

#lore button {
  display: block;
}