@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
  }

  .boons> :first-child {
    color: black;
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --bg: white;
    --text: black;
  }
}

:root {
  --physical: LightSalmon;
  --mental: LightGreen;
  --spiritual: LightSkyBlue;
  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--text);
  print-color-adjust: exact;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-none {
  flex: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid;
  margin: .25rem auto .25rem auto;
  padding: 0 .5rem 0 .5rem;
  width: min-content;
  min-width: 1rem;
  min-height: 2rem;
  align-content: center;
  background-color: var(--bg);
}

.text-box {
  border: 1px solid;
  margin: 2px auto 2px auto;
  padding: 2px;
  width: min-content;
  background-color: var(--bg);
}

.specialization-box {
  border: 1px solid;
  margin: .5rem;
  height: 100%;
  background-color: var(--bg);
}

.boon-subcategories {
  border-top: 1px solid;
  min-height: 10rem;
  padding: 0 2px;
  display: grid;
  justify-content: space-between;
  justify-items: start;
}

#attributes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-auto-rows: max-content;
  text-align: center;
}

#attributes>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

input {
  display: block;
}

.hidden-button {
  all: unset;
}

.hidden-button:focus {
  color: blue;
}

#editor-inputs textarea {
  min-width: 25vw;
}

.boons {
  border: 1px solid;
  margin: .25rem;
}

#lore button {
  display: block;
}